In [13]:
# !pip install ipython-sql
import psycopg2
import sqlalchemy

conn = 'postgresql://gis:HeWhoBuildsTheLand@localhost:25432/gis'

sqlalchemy.create_engine(conn)

Engine(postgresql://gis:***@localhost:25432/gis)

In [2]:
# %lsmagic

In [3]:
%load_ext sql
%sql postgresql://gis:HeWhoBuildsTheLand@localhost:25432/gis

'Connected: gis@gis'

In [7]:
%%sql

test << select * from osm.double_edged_graph_dev limit 5

 * postgresql://gis:***@localhost:25432/gis
5 rows affected.
Returning data to local variable test

In [11]:
df = test.DataFrame()
df

,way_id,type,name,surface,geom
0,65714214,residential,Semmelstraße,asphalt,0102000020E610000006000000A75D4C33DDDF2340D008...
1,340403792,service,None,None,0102000020E6100000020000008EAB36A4F6DF23403B98...
2,340403790,service,None,None,0102000020E610000002000000F1CE4653E2DF23406651...
3,51734234,residential,Heinestraße,asphalt,0102000020E61000000C000000617193AC1EDF2340FD3B...
4,28902367,footway,None,paving_stones,0102000020E61000000400000027E208ADE2E02340287A...